Repository game-by-virtuals/game-python, pull requests merged in 2025-05, with the labels that each got.

#106 TLedger Plugin
  plugins/tLedger/README.md
  plugins/tLedger/__init__.py
  plugins/tLedger/examples/.env.example
  plugins/tLedger/examples/example_agent.py
  plugins/tLedger/examples/example_worker.py
  plugins/tLedger/plugin_metadata.yml
  plugins/tLedger/pyproject.toml
  plugins/tLedger/setup.py
  plugins/tLedger/tledger_plugin_gamesdk/__init__.py
  plugins/tLedger/tledger_plugin_gamesdk/tLedger_models.py
  plugins/tLedger/tledger_plugin_gamesdk/tLedger_plugin.py
Labels: WIP

#155 [Twitter Plugin] Improve Error Log
  plugins/twitter/examples/.env.example
  plugins/twitter/twitter_plugin_gamesdk/twitter_plugin.py
Labels: enhancement, plugin

#160 [Twitter Plugin] Improve Docs and Examples
  .gitignore
  plugins/twitter/README.md
  plugins/twitter/examples/sample_media/media_file.png
  plugins/twitter/examples/sample_media/virtuals-logo.png
  plugins/twitter/examples/test_twitter.py
  plugins/twitter/twitter_plugin_gamesdk/twitter_plugin.py
Labels: documentation, enhancement, plugin
