Repository game-by-virtuals/game-python, pull requests merged in 2025-03, with the labels that each got.

#97 [Plugin] Add Telegram Plugin
  plugins/telegram/README.md
  plugins/telegram/__init__.py
  plugins/telegram/examples/test_telegram.py
  plugins/telegram/examples/test_telegram_game_functions.py
  plugins/telegram/plugin_metadata.yml
  plugins/telegram/pyproject.toml
  plugins/telegram/telegram_plugin_gamesdk/telegram_plugin.py
Labels: plugin

#98 [Chore] Clean Up Telegram Plugin
  plugins/telegram/examples/test_telegram_game_functions.py
Labels: plugin

#93 [CI] Add Validation to New Plugin's Metadata
  .github/PULL_REQUEST_TEMPLATE/plugin.md
  .github/workflows/pr-labeler.yml
  .github/workflows/validate-new-plugin-metadata.yml
  plugins/plugin_metadata_template.yml
Labels: plugin

#105 [Docs] Update Contribution Guide
  CONTRIBUTION_GUIDE.md
Labels: documentation

#107 [Plugin] Enhance Game Twitter Plugin Auth Server Shutdown
  plugins/twitter/twitter_plugin_gamesdk/game_twitter_auth.py
Labels: enhancement, plugin

#101 added RAG (both populate and search + tg bot example)
  .github/workflows/validate-new-plugin-metadata.yml
  plugins/RAGPinecone/README.md
  plugins/RAGPinecone/examples/populate_knowledge_base.py
  plugins/RAGPinecone/examples/test_advanced_search.py
  plugins/RAGPinecone/examples/test_rag_pinecone_telegram.py
  plugins/RAGPinecone/plugin_metadata.yml
  plugins/RAGPinecone/pyproject.toml
  plugins/RAGPinecone/rag_pinecone_gamesdk/__init__.py
  plugins/RAGPinecone/rag_pinecone_gamesdk/populate_rag.py
  plugins/RAGPinecone/rag_pinecone_gamesdk/rag_pinecone_game_functions.py
  plugins/RAGPinecone/rag_pinecone_gamesdk/rag_pinecone_plugin.py
  plugins/RAGPinecone/rag_pinecone_gamesdk/search_rag.py
  plugins/RAGPinecone/setup.py
Labels: plugin

#108 fix: hosted GAME SDK endpoints expect strings from worldInfo
  src/game_sdk/hosted_game/sdk.py
Labels: bugfix
