Repository game-by-virtuals/game-python, pull requests merged in 2025-01, with the labels that each got.

#5 Add plugin example (twitter) and update README/contribution guide
  CONTRIBUTION_GUIDE.md
  README.md
  docs/imgs/accesskey.jpg
  docs/imgs/accesskey.png
  examples/game/test_agent.py
  examples/game/test_worker.py
  plugins/__init__.py
  plugins/example/__init__.py
  plugins/twitter/README.md
  plugins/twitter/pyproject.toml
  plugins/twitter/test_twitter.py
  plugins/twitter/twitter_plugin_gamesdk/twitter_plugin.py
  src/game_sdk/hosted_game/README.md
Labels: plugin

#19 fix readme typos
  README.md
  src/game_sdk/game/README.md
Labels: documentation

#31 Athena gen ai feature/code quality
  examples/game/test_agent.py
  plugins/twitter/twitter_plugin_gamesdk/twitter_plugin.py
  src/game_sdk/game/agent.py
  src/game_sdk/game/custom_types.py
  src/game_sdk/game/worker.py
Labels: documentation, enhancement

#33 feat: Add onchain actions with GOAT
  plugins/onchain_actions/README.md
  plugins/onchain_actions/__init__.py
  plugins/onchain_actions/examples/.env.example
  plugins/onchain_actions/examples/example-agent.py
  plugins/onchain_actions/examples/example-worker.py
  plugins/onchain_actions/onchain_actions_game_sdk/onchain_actions.py
  plugins/onchain_actions/pyproject.toml
Labels: plugin

#34 add State of Mika plugin
  examples/stateofmika/example_som.py
  plugins/stateofmika/README.md
  plugins/stateofmika/__init__.py
  plugins/stateofmika/functions/__init__.py
  plugins/stateofmika/functions/router.py
  plugins/stateofmika/pyproject.toml
  plugins/stateofmika/types/__init__.py
  plugins/stateofmika/types/models.py
Labels: plugin
